<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>
<body>
<div class = "container">
    <ul class ="nav">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="dashboard"> View Dashboard</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" aria-current="page" href="enquiry">Add Enquiry</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="view-enquiries">View Enquiries</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="logout">Logout</a>
        </li>
    </ul>
    <hr/>
    <div class="table-responsive">
        <h2>View Enquiries</h2>
        <form th:action="@{/filter-enquiries}" th:object="${filter}" method="post">
        <table>
            <tr>
                <td> Select Class Mode :
                    <select th:field="*{classMode}" >
                        <option value="">--Select--</option>
                        <option value="online">Online</option>
                        <option value="Classroom">Classroom</option>
                    </select>
                </td>
                <td> Select Course :
                    <select th:field="*{courseId}" >
                        <option value="">--Select--</option>
                        <option th:each="course: ${courses}"
                                th:value="${course.courseId}"
                                th:text="${course.courseName}">
                        </option>
                    </select>
                </td>
                <td>Select Enq Status :
                    <select th:field="*{enqStatus}">
                        <option value="">--Select--</option>
                        <option value="OPEN">Open</option>
                        <option value="ENROLLED">Enrolled</option>
                        <option value="LOST">Lost</option>
                    </select>
                </td>
                <td>
                    <input type="submit" value = "Filter" class="btn btn-primary">
                </td>
            </tr>
        </table>
        </form>
        <table class="table table-bordered table-hover">
            <thead class="table-dark">
                <th>S.No</th>
                <th>Student Name</th>
                <th>Student Phno</th>
                <th>Course</th>
                <th>Class Mode</th>
                <th>Enq Status</th>
                <th>Action</th>
            </thead>
            <tbody>
                <tr th:each="enq, loopCounter: ${enqs}">
                    <td th:text="${loopCounter.index+1}"></td>
                    <td th:text="${enq.stuName}"></td>
                    <td th:text="${enq.stuPhno}"></td>
                    <td th:text="${enq.course.courseName}"></td>
                    <td th:text="${enq.classMode}"></td>
                    <td th:text="${enq.enqStatus}"></td>
                    <td>
                        <a th:href="@{'/editEnq?enqId='+${enq.enqId}}">Edit</a>
                    </td>
                </tr>
                <tr th:if="${enqs.size()==0}">
                    <td colspan="7">No Records Found</td>

                </tr>
            </tbody>
        </table>


</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>
</html>